* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
    color: #3f3c3c;
}
/* desktop background off*/
.background-day,
.background-night,
.background-day-rain, 
.background-night-rain, 
.background-day-snow,
.background-night-snow
{
    background-image: none;
}
.body-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 320px;
    max-width: 432px;
}
/* header section */
header {
    position: fixed;
    top: 0;
    width: 100%;
    min-width: 320px;
    max-width: 432px;
    z-index: 2;
}
.header-container {
    position: relative;
    width: 100%;
    min-width: 320px;
    max-width: 432px;
    height: 50px;
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: #13406A;
}
.header-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 7.5px;
    left: 12px;
    width: 72%;
    max-width: 400px;
    height: 35px;
    border: 1px solid #66819A;
    border-radius: 8px;
    background-color: #0A2239;
    cursor: pointer;
}
/* header input animation starts*/
.header-input {
    animation: display-input 200ms linear 1;
    border-color: #8caecf;
    left: 50%;
    transform: translate(-50%);
}
@keyframes display-input {
    0% {
        width: 72%;
    } 
    50% {
        width: 80%;
    }
    100% {
        width: 90%;
    }
}
.header-input {
    width: 90%;
    min-width: 300px;  
}
/* header input animation ends*/
.header-input-container form {
    width: 90%;
}
.header-input-container form input {
    width: 99%;
    max-width: 400px;
    height: 30px;
    padding: 0 12px;
    font-size: 1.6rem;
    color: #fffcfc;
    border: none;
    outline: none;
    background-color: #0A2239;
} 
.input-lens {
    width: 20px;
    height: 20px;
    margin-left: 12px;
    background-image: url("https://i.postimg.cc/B6GrN317/search-icon.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.header-button {
    position: absolute;
    top: 7.5px;
    right: 12px;
    width: 20%;
    height: 35px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    color: #FFFCFC;
    border: 1px solid #FFFCFC;
    border-radius: 12px;
    background-color: #13406A;
}
.header-button:hover {
    color: #f7d307;
    border-color: #f7d307;
    cursor: pointer;
}
header nav {
    height: 40px;
    background-color: #13406A;
}
nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    height: 100%;
    text-align: center;
    list-style: none;
}
nav ul a {
    display: inline-block;
    width: 100%;
    padding: 4px;
    font-size: 1.5rem;
    text-decoration: none;
    color: #FFFCFC;
    transition: all 200ms ease-in-out;
}
nav ul a:hover {
    color: #f7d307;
    border-bottom: 1px solid #f7d307;
    cursor: pointer;
}
.day-anchor {
    color: #f7d307;
    cursor: default;
    pointer-events: none;
}
/* main section */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 0;
    top: 90px;
    width: 100%;
    max-width: 432px;
    min-width: 320px;
    border: 12px solid #f7d307;
    border-bottom: 80px solid #f7d307;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/* mobile backgrounds start*/
.mobile-background-d {
    background-image: url("https://i.postimg.cc/jdTvQHLg/mobile-background-d.png");
}
.mobile-background-n {
    background-image: url("https://i.postimg.cc/7hn3QRfB/mobile-background-n.png");
}
.mobile-background-d-rain {
    background-image: url("https://i.postimg.cc/W4xwDrB7/mobile-background-d-rain.png");
}
.mobile-background-n-rain {
    background-image: url("https://i.postimg.cc/xT9yb94B/mobile-background-n-rain.png");
}
.mobile-background-d-snow {
    background-image: url("https://i.postimg.cc/PJjbyHrp/mobile-background-d-snow.png");
}
.mobile-background-n-snow {
    background-image: url("https://i.postimg.cc/9QMdJJVp/mobile-background-n-snow.png");
}
/* mobile backgrounds ends*/
#main-weather-animation .main-weather-font-at-night {
    color: #d0e0f1;
}
/* animations start*/
#main-weather-animation {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: auto;
    /* Firefox */
    scrollbar-color: rgba(220, 220, 220, 10) transparent;
    scrollbar-width: thin;
    /* Firefox */
}
#main-weather-animation:hover {
    scrollbar-color: rgb(210,210,210) transparent;
}
/* Chrome, Safari, newer versions of Opera, almost all iOS browsers (including Firefox for iOS */
::-webkit-scrollbar {
    width: 10px;
    background: transparent;
}
::-webkit-scrollbar-thumb {
    border: 3px solid transparent;
    background-color: rgba(220, 220, 220, 10);
    background-clip: content-box;
    border-radius: 12px;
}
::-webkit-scrollbar-thumb:hover {
    background-color:  rgb(210,210,210);
}
/* Chrome, Safari, newer versions of Opera, almost all iOS browsers (including Firefox for iOS */

/* light rain animation*/
.light-rain {
    background-color: rgba(212, 212, 212, 0.2);
    background-image: url("https://i.postimg.cc/sxzN3Qsh/rain-animation.png");
    animation: light-rain 0.3s linear infinite;
}

@keyframes light-rain{
    from{
        background-position: 0% 0%;
    }
    to{
        background-position: -10% -100%;
    }
}
/* shower rain animation*/
.shower-rain {
    background-color: rgba(212, 212, 212, 0.3);
    background-image: url("https://i.postimg.cc/Z5XNyP9R/rain-animation.png"), url("https://i.postimg.cc/c4bhXngq/rain-animation2.png");
    animation: shower-rain 0.3s linear infinite;
}
.thunderstorm {
    background-color: rgba(212, 212, 212, 0.3);
    background-image: url("https://i.postimg.cc/Z5XNyP9R/rain-animation.png"), url("https://i.postimg.cc/c4bhXngq/rain-animation2.png");
    animation: shower-rain 0.3s linear infinite;
}
/* thunderstorm animation*/
@keyframes shower-rain{
    0%{
        background-position: 0% 50%, 10% 100%;
    }
    100% {
         background-position: -10% -100%, -10% -100%;
    }
}
.thunderstorm::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://i.postimg.cc/sDfbY1sF/lightning.png");
    background-repeat: no-repeat;
    animation: lightning 4s linear infinite;
    opacity: 1;
}
@keyframes lightning{
    0%{
        opacity: 0;
    }
    20%{
        opacity: 0;
    }
    21%{
        opacity: 1;
        background-color: rgba(212, 212, 212, 0.5);
    }
    25%{
        opacity: 0;
        }
    30%{
        opacity: 0;
        }
    31%{
        opacity: 1;
        background-color: rgba(212, 212, 212, 0.5);
    }
    35%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}
/* snow-falling animation*/
.snow-falling {
    background-image: url("https://i.postimg.cc/8CTvc8Lb/snow1.png"), url("https://i.postimg.cc/05hcQQjd/snow2.png"), url("https://i.postimg.cc/C1zsMTVQ/snow3.png");
    animation: snow-falling 8s linear infinite;
}
@keyframes snow-falling {
    from{
        background-position: 0 0, 0 0, 0 0;
    }
    to{
        background-position: 125px 250px, 100px 100px, 75px 75px;
    }
}
/* mist animation*/
.mist {
    background-color: rgba(212, 212, 212, 0.3);
    background-image: url("https://i.postimg.cc/pLf8PV5T/mist.png");
    animation: mist 50s linear infinite;
}
@keyframes mist {
    0%{
        background-position: 0% 0%;
    }
    33%{
        background-position: 100% 0%;
    }
    66%{
        background-position: -100, 0%;
    }
    100%{
        background-position: 0%, 0%;
    }
}
 /* animations end*/
 .spanCity {
    display: inline-block;
    vertical-align: sub;
    width: 25px;
    height: 20px;
    font-size: 2rem;
    background-image: url("https://i.postimg.cc/Kj3HtvZH/location-point.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.main-weather-container {
    margin-top: 16px;
    text-align: center;
}
.main-temperature-icon-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%; 
}
.main-weather-container div img {
    width: 100px;
    height: 100px;
}
.main-title {
    margin-bottom: 8px;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}
.main-temperture-container {
    z-index: 1;
}
.main-temperture-container p span a {
    color: #9a9393;
    text-decoration: none;
}
.main-temperture-container p .span-temp-convertion a {
    color: #768ca6;
}
.main-temperture-container p span a:hover {
     text-underline-position: under;
     text-decoration: underline;
}
.main-temperture-container p span .active {
    color: #5f5b5b;
    cursor: default;
    text-decoration: none;
}
.main-temperture-container p .span-temp-convertion .active {
    color: #d0e0f1;
}

.main-temperture-container p span .active:hover {
   text-decoration: none;
}
.main-weather-container p:nth-child(4) {
    margin-top: -8px;
    font-size: 1.4rem;
    text-transform: capitalize;
}
.main-weather-container p:nth-child(5) {
    font-size: 1.4rem;
    margin-top: 8px;
}
.main-weather-container p:nth-child(2) {
    margin-top: 8px;
    font-size: 1.4rem;
    margin-bottom: -8px;
}
.main-temperture-container p span:nth-child(1) {
    font-size: 6rem;
}
.main-temperture-container p span:nth-child(2) {
    display: inline-block;
    vertical-align: top;
}
.main-temperture-container p span:nth-child(2),
.main-temperture-container p:nth-child(1),
.main-temperture-container p:nth-child(2)
 {
    margin-top: 8px;
    font-size: 1.6rem;
    text-align: center;
}
.forecast-container {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    justify-content: center;
    margin: 20px auto;
    padding: 4px 4px;
    font-size: 1.4rem;
    text-align: center;
    line-height: 2;
    background-color: rgba(220, 220, 220, 0.5);
}
.forecast-img img{
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 auto;
}
.forecast-temperature span:nth-child(2) {
    color: rgba(63, 60, 60, 0.6);
}
.forecast-container > div {
    margin-right: 16px;
}
.forecast-container > div:nth-child(5) {
    margin-right: 0;
}
.forecast-container .hourly-forecast {
    margin-right: 0;
}
.hourly-forecast-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
}
.hourly-forecast {
    display: flex;
    align-items: center;
}
.hourly-forecast .hourly-forecast-time {
    margin-right: 15px;
}
.hourly-forecast .hourly-forecast-img img {
    display: block;
    width: 40px;
    height: 40px;
    margin-right: 15px;
}

.hourly-forecast .hourly-forecast-temperature {
    margin-right: 20px;
    color: #3f3c3c;
}
.hourly-forecast .hourly-forecast-humidity {
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.humidity-span {
    width: 10px;
    height: 10px;
    margin-right: 2px;
    background-image: url("https://i.postimg.cc/cJB1WnJn/drop.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.hourly-forecast .hourly-forecast-wind {
    display: flex;
    align-items: center;
}
.wind-span {
    width: 15px;
    height: 15px;
    margin-right: 2px;
    background-image: url("https://i.postimg.cc/8cSCMgzq/wind.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/* footer section */
 footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 432px;
    min-width: 320px;
    line-height: 1;
 }
 .footer-webname {
    font-family: 'Island Moments', cursive;
    font-size: 4.5rem;
    font-weight: 300;
    text-align: center;
 }
 .footer-credits {
    padding-bottom: 12px;
    font-size: 1.3rem;
    text-align: center;
 }
 .footer-credits a {
    color: #13406A;
    text-decoration: none;
 }
 .footer-credits a:hover {
    text-decoration: underline;
 }
  @media (min-width: 400px) {
    .main-weather-container div img {
        width: 130px;
        height: 130px;
    }
    .forecast-container {
        font-size: 1.5rem;
    }
    .forecast-img img{
        width: 50px;
        height: 50px;
    }
    .hourly-forecast .hourly-forecast-time {
        margin-right: 25px;
    }
    .hourly-forecast .hourly-forecast-img img {
        width: 50px;
        height: 50px;
        margin-right: 25px;
    }
    .hourly-forecast .hourly-forecast-temperature {
        margin-right: 30px;
    }
    .hourly-forecast .hourly-forecast-humidity {
        margin-right: 30px;
    }
    .humidity-span {
        margin-right: 4px;
    }
    .wind-span {
        margin-right: 4px;
 
    }
 }
@media (min-height: 680px) {
    #main-weather-animation {
        overflow-y: hidden;
    }
 }