* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
}
/* desktop background off*/
.background-day,
.background-night,
.background-day-rain, 
.background-night-rain, 
.background-day-snow
{
    background-image: none;
}
.body-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 320px;
    max-width: 432px;
}
/* header section */
header {
    position: fixed;
    top: 0;
    width: 100%;
    min-width: 320px;
    max-width: 432px;
    z-index: 2;
}
.header-container {
    position: relative;
    width: 100%;
    min-width: 320px;
    max-width: 432px;
    height: 50px;
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: #13406A;
}
.header-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 7.5px;
    left: 12px;
    width: 72%;
    max-width: 400px;
    height: 35px;
    border: 1px solid #66819A;
    border-radius: 8px;
    background-color: #0A2239;
    cursor: pointer;
}
/* header input animation starts*/
.header-input {
    animation: display-input 200ms linear 1;
    border-color: #8caecf;
    left: 50%;
    transform: translate(-50%);
}
@keyframes display-input {
    0% {
        width: 72%;
    } 
    50% {
        width: 80%;
    }
    100% {
        width: 90%;
    }
}
.header-input {
    width: 90%;
    min-width: 300px;  
}
/* header input animation ends*/
.header-input-container form {
    width: 90%;
}
.header-input-container form input {
    width: 99%;
    max-width: 400px;
    height: 30px;
    padding: 0 12px;
    font-size: 1.6rem;
    color: #fffcfc;
    border: none;
    outline: none;
    background-color: #0A2239;
} 
.input-lens {
    width: 20px;
    height: 20px;
    margin-left: 12px;
    background-image: url('https://i.postimg.cc/B6GrN317/search-icon.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.header-button {
    position: absolute;
    top: 7.5px;
    right: 12px;
    width: 20%;
    height: 35px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    color: #6f93b5;
    border: 1px solid #6f93b5;
    border-radius: 12px;
    background-color: #13406A;
}
.header-button:hover {
    color: #8caecf;
    border-color: #8caecf;
    cursor: pointer;
}
header nav {
    height: 40px;
    background-color: #13406A;
}
nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    height: 100%;
    text-align: center;
    list-style: none;
}
nav ul a {
    display: inline-block;
    width: 100%;
    padding: 4px;
    font-size: 1.5rem;
    text-decoration: none;
    color: #FFFCFC;
    transition: all 200ms ease-in-out;
}
nav ul a:hover {
    color: #f7d307;
    border-bottom: 1px solid #f7d307;
    cursor: pointer;
}
/* main section */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 0;
    top: 90px;
    width: 100%;
    max-width: 432px;
    min-width: 320px;
    border: 12px solid #f7d307;
    border-bottom: 80px solid #f7d307;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/* mobile backgrounds start*/
.mobile-background-d {
    background-image: url('https://i.postimg.cc/qq1JSdh1/mobilelandscapeimg.png');
}
.mobile-background-n {
    background-image: url('https://i.postimg.cc/qq1JSdh1/mobilelandscapeimg.png');
}
.mobile-background-d-rain {
    background-image: url('https://i.postimg.cc/zBm4zPY8/mobilelandscaperainimg.png');
}
.mobile-background-n-rain {
    background-image: url('https://i.postimg.cc/zBm4zPY8/mobilelandscaperainimg.png');
}
.mobile-background-d-snow {
    background-image: url('https://i.postimg.cc/PqM1JPBJ/mobilelandscapesnowimg.png');
}
.mobile-background-n-snow {
    background-image: url('https://i.postimg.cc/PqM1JPBJ/mobilelandscapesnowimg.png');
}
/* mobile backgrounds ends*/
/* animations start*/
#main-weather-animation {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: scroll;
}
/* light rain animation*/
.light-rain {
    background-color: rgba(212, 212, 212, 0.3);
    background-image: url("https://i.postimg.cc/X7Zk60gG/rain-animation-mobile2.png");
    animation: light-rain 0.3s linear infinite;
}

@keyframes light-rain{
    from{
        background-position: 0% 0%;
    }
    to{
            background-position: -10% -100%;
    }
}
/* shower rain animation*/
.shower-rain {
    background-color: rgba(212, 212, 212, 0.3);
    background-image: url("https://i.postimg.cc/7hhM6v8R/rain-animation-mobile.png");
    animation: shower-rain 0.3s linear infinite;
}
.thunderstorm {
    background-color: rgba(212, 212, 212, 0.3);
    background-image: url('assest/rain-animation-mobile.png');
    animation: shower-rain 0.3s linear infinite;
}
/* thunderstorm animation*/
@keyframes shower-rain{
    from{
        background-position: 0% 0%;
    }
    to{
        background-position: -10% -80%;
    }
}
.thunderstorm::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("https://i.postimg.cc/sDfbY1sF/lightning.png");
    animation: lightning 4s linear infinite;
    opacity: 1;
}
@keyframes lightning{
    0%{
        opacity: 0;
    }
    20%{
        opacity: 0;
    }
    21%{
        opacity: 1;
        background-color: rgba(212, 212, 212, 0.5);
    }
    25%{
        opacity: 0;
        }
    30%{
        opacity: 0;
        }
    31%{
        opacity: 1;
        background-color: rgba(212, 212, 212, 0.5);
    }
    35%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}
/* snow-falling animation*/
.snow-falling {
    background-image: url("https://i.postimg.cc/8CTvc8Lb/snow1.png"), url("https://i.postimg.cc/05hcQQjd/snow2.png"), url("https://i.postimg.cc/C1zsMTVQ/snow3.png");
    animation: snow-falling 8s linear infinite;
}
@keyframes snow-falling {
    from{
        background-position: 0 0, 0 0, 0 0;
    }
    to{
        background-position: 125px 250px, 100px 100px, 75px 75px;
    }
}
/* mist animation*/
.mist {
    background-image: url("https://i.postimg.cc/pLf8PV5T/mist.png");
    animation: mist 50s linear infinite;
}
@keyframes mist {
    0%{
        background-position: 0% 0%;
    }
    33%{
        background-position: 100% 0%;
    }
    66%{
        background-position: -100, 0%;
    }
    100%{
        background-position: 0%, 0%;
    }
}
 /* animations end*/
 .spanCity {
    display: inline-block;
    vertical-align: sub;
    width: 25px;
    height: 20px;
    font-size: 2rem;
    background-image: url('https://i.postimg.cc/Kj3HtvZH/location-point.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.main-weather-container {
    margin-top: 16px;
    text-align: center;
}
.main-temperature-icon-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%; 
}
.main-weather-container div img {
    width: 130px;
    height: 130px;
}
.main-title {
    margin-bottom: 8px;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}
.main-temperture-container {
    z-index: 1;
}
.main-temperture-container p span a {
    color: #9a9393;
    text-decoration: none;
}
.main-temperture-container p span a:hover {
     text-underline-position: under;
     text-decoration: underline;
}
.main-temperture-container p span .active {
    color: black;
    cursor: default;
    text-decoration: none;
}
.main-temperture-container p span .active:hover {
   text-decoration: none;
}
.main-weather-container p:nth-child(4) {
    margin-top: -8px;
    font-size: 1.4rem;
    text-transform: capitalize;
}
.main-weather-container p:nth-child(2) {
    margin-top: 8px;
    font-size: 1.4rem;
    margin-bottom: -8px;
}
.main-temperture-container p span:nth-child(1) {
    font-size: 6rem;
}
.main-temperture-container p span:nth-child(2) {
    display: inline-block;
    vertical-align: top;
}
.main-temperture-container p span:nth-child(2),
.main-temperture-container p:nth-child(1),
.main-temperture-container p:nth-child(2)
 {
    margin-top: 8px;
    font-size: 1.6rem;
    text-align: center;
}
.main-days-container {
    display: flex;
    justify-content: center;
    width: 90%;
    margin-top: 32px;
    background-color: rgba(220, 220, 220, 0.5);
}
.main-days-container div {
    margin: 0 4px;
    font-size: 1.6rem;
}
.main-days-container div p:nth-child(2) {
    font-size: 1.8rem;
}
.main-days-container div p span:nth-child(1) {
    vertical-align: top;
    font-size: 1rem;
}
/* icons */
.main-days-container div p:nth-child(1) span {
    font-size: 5rem;
}
/* footer section */
 footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 432px;
    min-width: 320px;
    line-height: 1;
 }
 .footer-webname {
    font-family: 'Island Moments', cursive;
    font-size: 4.5rem;
    font-weight: 300;
    text-align: center;
 }
 .footer-credits {
    padding-bottom: 12px;
    font-size: 1.3rem;
    text-align: center;
 }
 .footer-credits a {
    color: #13406A;
    text-decoration: none;
 }
 @media (min-width: 432px) and (min-height: 300px) {
    body {
        display: grid;
        grid-template-columns: 1fr minmax(320px, 432px) 1fr;
        align-items: center;
        height: 100vh;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
/* desktop backgrounds start*/
    .background-day{
        background-image: url('https://i.postimg.cc/W1VXQ3tX/desktoplandscapeimg.png');
    }
    .background-day-rain {
       background-image: url('https://i.postimg.cc/ZqstLg4P/desktoplandscaperainimg.png'); 
    }
    .background-day-snow {
        background-image: url('https://i.postimg.cc/Gpjqj1Q9/desktoplandscapesnowimg.png');
    }
    .background-night{
        background-image: url('https://i.postimg.cc/W1VXQ3tX/desktoplandscapeimg.png');
    }
    .background-night-rain {
        background-image: url('https://i.postimg.cc/ZqstLg4P/desktoplandscaperainimg.png');
    }
    .background-night-snow {
        background-image: url('https://i.postimg.cc/Gpjqj1Q9/desktoplandscapesnowimg.png');
    }
/* desktop backgrounds ends*/

    .body-left, .body-right {
        width: 100%;
        height: 100vh;
        background-color: rgba(254, 254, 254, 0.5);
        backdrop-filter: blur(2px);
    }
/* mobile backgrounds off*/
    .mobile-background-d,
    .mobile-background-n,
    .mobile-background-d-rain, 
    .mobile-background-n-rain, 
    .mobile-background-d-snow,
    .mobile-background-n-snow
    {
        background-image: none;
    }
    .main-temperture-container p span:nth-child(1) {
        font-size: 7rem;
    }
 }
 @media (min-height: 640px) {
     #main-weather-animation {
        overflow: hidden;
    }
 }